
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações Básicas do Jogo</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />
				<div class="form-group">
					<label for="nome">Nome</label>
					<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
				</div>
				<div class="form-group">
					<label for="token">Token <i class="fa fa-info-circle" id="tooltipToken" data-toggle="tooltip" data-placement="top" title="O token age como uma senha para que a pontuação possa ser marcada pelo jogo. Caso o token 'vaze', basta alterá-lo aqui."></i></label>
					<input id="token" name="token" maxlength="50" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.token : '') %>" />
				</div>
				<div class="form-group">
					<label for="url_externa">URL Externa</label>
					<input id="url_externa" name="url_externa" maxlength="200" class="form-control" type="url" spellcheck="false" value="<%=(item ? item.url_externa : '') %>" />
				</div>
				<div class="form-group">
					<label for="tipo_pontuacao">Tipo de Pontuação</label>
					<select id="tipo_pontuacao" name="tipo_pontuacao" size="1" class="form-control">
						<option value="" <%=(!item ? 'selected="selected"' : '') %>>SELECIONE...</option>	
						<option value="0" <%=((item && item.tipo_pontuacao === 0) ? 'selected="selected"' : '') %>>SEM PONTUAÇÃO</option>	
						<option value="1" <%=((item && item.tipo_pontuacao === 1) ? 'selected="selected"' : '') %>>COM PONTUAÇÃO</option>	
					</select>
				</div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Jogo') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#tooltipToken").tooltip();

	$("#form").validate({
		rules: {
			nome: {
				required: true,
				minlength: 2,
				maxlength: 100
			},
			token: {
				maxlength: 50
			},
			url_externa: {
				maxlength: 200
			},
			tipo_pontuacao: {
				required: true,
				number: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/jogo/alterar", form, function (response) {
				if (response.success)
					Notification.success("Jogo alterado com sucesso! \uD83D\uDE04");
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/jogo/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Jogo criado com sucesso! \uD83D\uDE04");
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
