<form method="post" action="<%- root %>/login">
	<div style="max-width: 400px; margin: 0 auto; padding: 10% 15px;">
		<div class="panel panel-default no-margin-bottom">
			<div class="panel-body">
				<a href="<%- loginUrl %>" class="btn btn-primary btn-lg btn-block"><i class="fa fa-lock fa-nomargin"></i><br />Efetuar login com minhas credenciais da ESPM</a>
				<hr />
				<button id="btnLogin" onclick="showLogin()" type="button" class="btn btn-outline btn-default btn-sm btn-block <%= (mensagem ? 'hidden' : '' ) %>">Se preferir, você também pode efetuar login utilizando as credenciais do sistema</button>
				<div id="divLogin" class="<%= (mensagem ? '' : 'hidden' ) %>">
					<div class="form-group">
						<label for="login">Usuário</label>
						<input name="login" type="text" id="login" class="form-control text-uppercase" spellcheck="false" />
					</div>
					<div class="form-group">
						<label for="senha">Senha</label>
						<input name="senha" type="password" id="senha" class="form-control" />
					</div>
					<% if (mensagem) { %>
					<div id="lblMessage" class="alert alert-danger"><%=mensagem %></div>
					<% } %>
					<input type="submit" value="Login" class="btn btn-primary btn-block" />
				</div>
			</div>
		</div>
	</div>
</form>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	function showLogin() {
		document.getElementById("btnLogin").className = "hidden";
		document.getElementById("divLogin").className = "";
	}

	//]]>
</script>
